/DAW_PROG/suzdalenko_alexey_PROG04_Tarea/tarea4/nbproject/private/
/DAW_PROG/suzdalenko_alexey_PROG04_Tarea/tarea4/build/
/DAW_PROG/suzdalenko_alexey_PROG05_Tarea/Tarea05/nbproject/private/
/DAW_PROG/suzdalenko_alexey_PROG05_Tarea/Tarea05/build/
/DAW_PROG/suzdalenko_alexey_PROG05_Tarea/Tarea5/nbproject/private/
/DAW_PROG/suzdalenko_alexey_PROG05_Tarea/Tarea5/build/
/DAW_PROG/suzdalenko_alexey_PROG05_Tarea/Tarea5/dist/
