.wrapper{
    display:block;
    width: 40%;
    margin-left: 10%;
    border: 22px solid #fe7243;
    padding: 11px;
}
h1{
    color: #fe7243;
}
.centered{
    display: block;
    margin-top: 77px;
    text-align: center;
}
table{
    width: 100%;
    background-color: #ffd7c9;
}
table, td{
    border: 1px solid #fe7243;
}